@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background: #E6E6E6;
  font-family: 'Open Sans', sans-serif;
}

.CodeMirror {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}
